html, body {
	height:100%;
	width:100%;
	margin:0;
	padding:0;
}
#myChart {
  margin-left:10%;
	height:100%;
	min-height:150px;
}
.zc-ref {
	display:none;
}

.controls {
  z-index:1000;
  position:fixed;
  top:0;
  left:0;
  bottom:0;
  width:10%;
  background-color:#9e9e9e;
  padding:15px;
}

.controls label {
  width:75px;
  display:inline-block;
}

.controls input {
  margin-bottom:5px;
  width:90%;
}