@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
body{
     margin:0;
     font-family: 'Open Sans', sans-serif;
}
*{
     box-sizing: border-box;
}

.team-sectionn{
     background-color:#fff;
     min-height: 50vh;
     padding:40px 5px 20px;
}

.containerr{
     max-width: 100%;
     margin:auto;
}

.roww{
     display: flex;
     flex-wrap: wrap;
}

.team-sectionn .section-titlee{
     flex-basis: 100%;
     max-width: 100%;
     margin-bottom: 70px;
}

.team-sectionn .section-titlee h1{
     font-size: 40px;
     text-align: center;
     margin:0;
     color: #000;
     font-weight: 700;
}

.team-sectionn .section-titlee p{
     font-size:16px;
     text-align: center;
     margin:15px 0 0;
     color:#000;
}
.team-sectionn .team-itemss{
     
     flex-basis: 100%;
     max-width: 100%;
     display: flex;
     flex-wrap: wrap;
     justify-content: space-around;
}
.team-sectionn .team-itemss .itemm{
 flex-basis: calc(25% - 30px);
/* max-width: calc(25% - 30px);*/
 transition: all .5s ease;
 margin-bottom: 10px;
}
.team-sectionn .team-itemss .itemm img{
     display: block;
     width: 100%;
     border-radius: 25% 10%;
     /*background-color: black; */
}

.team-sectionn .team-itemss .itemm .innerr{
     position: relative;
     z-index: 12;
     padding:0 15px;
}
.team-sectionn .team-itemss .itemm .innerr .infoo{
     background-color:#000;
     text-align: center;
     padding: 20px 15px;
     border-radius:8px;
     transition: all .5s ease;
     margin-top: -40px;
}
.team-sectionn .team-itemss .itemm:hover  .infoo{
    transform: translateY(-20px);
}
.team-sectionn .team-items .item:hover{
 transform: translateY(-10px);     
}
.team-sectionn .team-itemss .itemm .innerr .infoo h5{
     margin:0;
     font-size: 18px;
     font-weight: 400;
     color:#ffffff;
}
.team-sectionn .team-itemss .itemm .innerr .infoo p{
     font-size: 16px;
     font-weight: 400;
     color:#c5c5c5;
     margin:10px 0 0;
}

.team-sectionn .team-itemss .itemm .innerr .infoo .social-linkss{
     padding-top: 10px;
}

.team-sectionn .team-items .itemm .innerr .infoo .social-linkss a{
    /* display: inline-block;*/
     /*height: 22px;*/
    /* width: 22px;*/
     background-color: #ffffff;
     color:#009688;
     border-radius: 50%;
     margin:0 2px;
     text-align: center;
     line-height: 22px;
     font-size:16px;
     transition: all .5s ease;
}

.team-sectionn .team-itemss .itemm .innerr .infoo .social-linkss a:hover{
     box-shadow: 0 0 10px #000;
}

/*responsive*/
@media(max-width: 991px){
     .team-sectionn .team-itemss .itemm .hi-slide .hi-next .hi-prev{
      flex-basis: calc(50% - 30px);
     /*  max-width: calc(50% - 30px);*/

   }
}

@media(max-width: 767px){
     .team-sectionn .team-itemss .itemm .hi-slide .hi-next .hi-prev{
      flex-basis: calc(100%);
  /*     max-width: calc(100%);*/

   }
}



/*          
body{    
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
    color: #000;
    
}*/
       /* body { background-image: url(ur.jpg);}*/
        h1 { margin:150px auto 30px auto; text-align:center; color:#000;}
   
            .hi-slide { position: relative; width: 754px; height: 292px; margin: 115px auto 0; }
            
.hi-slide .hi-next,
.hi-slide .hi-prev 
            { position: absolute;
              top: 50%; 
              width: 40px;
              height: 40px; 
              margin-top: -20px;     
               border-radius: 50px; 
                 color: #fff;
               flex-basis: calc(25% - 30px);
               max-width: calc(25% - 30px);
              line-height: 40px;
              text-align: center; 
              cursor: pointer;
              background-color: #000; 
              color: white;               
              transition: all 0.6s;
              font-size: 20px; 
                font-weight: bold;
            }
           .hi-slide .hi-next:hover, 
            .hi-slide .hi-prev:hover 
            {
            opacity: 1; 
            background-color: #ff4b21;
            border-color: #000;
            color: #fff;  
            }
            
           .hi-slide .hi-prev { left: -60px; }
            
    .hi-slide .hi-prev::before { content: '⇜'; }
    .hi-slide .hi-next { right: -60px; }
    .hi-slide .hi-next::before { content: '⇝'; }
    
            .hi-slide > ul
                    { 
                        list-style: none; 
                        position: relative;
                        width: 754px; 
                        height: 292px; 
                        margin: 0;
                        padding: 0;
            }
            
            
        .hi-slide > ul > li {
            overflow: hidden; 
            position: absolute; 
            z-index: 0; 
            left: 377px;
            top: 146px; 
            width: 0; 
            height: 0; 
            margin: 0; 
            padding: 0;
            border: 3px solid #fff;              
            background-color: #333; 
            cursor: pointer; }
            
        .hi-slide > ul > li > img { width: 100%; height: 100%; background-position: center;}

 

    