*
{
	padding: 0;
	margin: 0;
}

.allItem
{
	grid-area: everything;
}

.gridFull
{
	display: grid;
	grid-template-areas: 
	'everything';
	margin-left: 70px;
}

.mobileMenu
{
	display: none;
}

.tabMenu
{
	display: none;
	background-color: black;
	position: fixed;
	z-index: 10;
	width: 100%;
}
.tabMenu_logo
{
	width: 160px;
	position: absolute;
	padding: 4px 10px;
}
.tabMenu ul
{
	display:flex; 
	float: right;
  	list-style: none; 
  	font-family: 'Poppins', sans-serif;

}
.tabMenu ul li
{
	padding: 25 20px;
	font-size: 14px;
}
.tabMenu a
{
	text-decoration: none; 
	color: #B1B1B1;
	padding: 25 0px;
}
.tabMenu a.active
{
	color: gold;
	border-bottom: 5px solid #F7E014;
	position: relative;
	bottom: 3px;
}


.navbar
{
	transform-origin: left top;
 	transform: rotate(-90deg) translateX(-100%);  
  	width: 100vh;
  	/*background-color: white;*/
  	position: fixed;

  	z-index: 10;


}

.navbar ul
{
	display:flex; 
  	text-decoration: none;
  	list-style: none; 
  	font-family: 'Poppins', sans-serif;

  	background-color: black; 

}

.navbar ul li
{
	padding: 25 30px;
	font-size: 14px;
}

.navbar a
{
	text-decoration: none; 
	color: #B1B1B1;
	padding: 25 0px;
}

.navbar a:hover
{
	color: white;
}

.navbar a.active
{
	color: #D7B722;
	border-bottom: 5px solid #D7B722;
	position: relative;
	bottom: 3px;
}

.lionLogo
{
	transform: rotate(90deg) translateX(-100%);
	position: absolute;
	right: -55px;
	width: 192px;
	top: 255px;
}

.social
{
	position: absolute;
	right: 0px;
	padding: 20px;
}
.social img
{
	padding: 10 5px;
}

.bigText
{
	font-size: 40px;
	line-height: 50px;
}

.homepageHeaderSec
{
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
}

.container
{
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.container2
{
	align-items: center;
	text-align: center;
	align-self: center;
	max-width: 100%;
	background: #F7F7F7;
	margin-left: auto;
	margin-right: auto;
}


.graph1
{
	display: block;
}
.graph2
{
	display: none;
}

.item1 
{ 
	grid-area: graphics; 
	margin-top: auto;
	margin-bottom: auto;
	padding: 15px;
	/*padding-left: 30px;*/
}
.item2 
{ 
	grid-area: texts;
	/*background-color: #00ccff;*/
	padding: 15px;
	margin-top: auto;
	margin-bottom: auto;
}

.grid1
{
	display: grid;
	grid-template-areas: 
	'graphics texts';
	/*background-color: #2196F3;*/
	margin-left: 5vw;
	padding: 20px;
}

.button 
{
  /*background-color: #4CAF50;
  color: white;*/
  border: 1px solid;
  padding: 15px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}
.button:hover
{
	
}

.heading
{
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 35px;
	margin-left: 5vw;
	line-height: 5.5vw;
	position: absolute;
	text-shadow: 5px 5px 6px #00000029;
	left: 150px;
	/*margin-top: -9%;*/
	margin-top: -42px;
	margin-left: -10px;
}

.heading_new
{
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 35px;
	margin-left: 5vw;
	line-height: 5.5vw;
	position: absolute;
	text-shadow: 5px 5px 6px #00000029;
	left: 150px;
	/*margin-top: -9%;*/
	margin-top: -9%;
	margin-left: 11px;
}


.item3{
	grid-area: leftp;
	font-family: 'Roboto', sans-serif; 
	font-size: 14px;
	/*padding-right: 80px;*/
	margin-top: auto;
	margin-bottom: auto;
	text-align: right;

	/*background-color: red;*/
}
.item4
{
	grid-area: mid;
	text-align: center;
	min-width: 300px;
	max-width: 550px;
	padding: 20 40px;

	/*background-color: green;*/
}
.item4 img
{
	margin-top: 0px;
	width: 90%;
	height: 105%;
}
.item5
{
	grid-area: rightp;
	font-family: 'Roboto', sans-serif; 
	font-size: 14px;
	/*padding-left: 80px;*/
	text-align: left;
	margin-top: auto;
	margin-bottom: auto;

	/*background-color: blue;*/
}

.grid2
{
	display: grid;
	grid-template-areas: 
	'leftp mid rightp';
	/*background-color: #2196F3;*/
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
}
.grid3
{
	display: grid;
	grid-template-areas: 
	'leftp mid rightp';
	background-color: #f7f7f7;
	padding: 30px;
	margin-left: auto;
	margin-right: auto;
}

/*.employee
{
	grid-area: emp;
	background-color: blue;
}*/
/*.ceo
{
	grid-area: ceo;
	background-color: red;

}*/
.gridTeam
{
	display: grid;
	grid-template-areas: 
	'ceo emp';
}

.memberPic
{
	position: relative;
}

.fLogo
{
	grid-area: logo;
	padding: 50px 0px;
	/*text-align: center;*/
}
.flogo img
{
	width: 65%;
}
.fQuick
{
	grid-area: quick;
	max-width: 250px;
	padding: 50 20px;
/*	margin-left: auto;
	margin-right: auto;*/
}
.floc
{
	grid-area: loc;
	padding: 50 20px;
	font-family: 'Roboto', sans-serif; font-size: 15px;
	max-width: 250px;
/*	margin-left: auto;
	margin-right: auto;*/
}
.fcont
{
	grid-area: con;
	padding: 50 20px;
	font-family: 'Roboto', sans-serif; font-size: 15px;
	max-width: 250px;
/*	margin-left: auto;
	margin-right: auto;*/
}
.fcont img
{
	width: 25px;
	padding-right: 12px;
	padding-top: 40px;
}
.gridFooter
{
	display: grid;
	grid-template-areas: 
	'logo quick loc con';
	color: white;
	/*margin-top: 30px;*/
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;

}

.gridFooter a
{
	text-decoration: none;
	font-family: 'Roboto', sans-serif; 
	color: white;
}

.ltext
{
	grid-area: texts;
	/*background-color: red;*/
	padding: 40px 80px;
	margin-top: auto;
	margin-bottom: auto;
}
.lvideo
{
	grid-area: vdo;
	/*background-color: blue;*/
	text-align: center;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: -40px;
	/*padding-bottom: 30px;*/
	padding-right: 20px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 20px #00000029;
}
}
.lvideo img
{
	width: 50vw;
	padding: 0px 20px;
	margin-top: -60px;
}
.lvideo video
{
	/*width: 50vw;*/
	/*padding: 0px 20px;*/
	/*margin-top: -60px;*/
	height: 100%;
	width: 100%;
}
.lastPortion
{
	display: grid;
	grid-template-areas: 
	'texts vdo';
	background-color: white; 
	font-family: 'Poppins', sans-serif;
	margin-top: 100px; 
	padding-right: 20px;
	padding-bottom: 20px;
	
}

.reachUsSocial
{
	padding: 20 40 0 0px;
}

.reachUs
{
	grid-area: reachUs;
	background-image: url("skins/Group 13.png");
	/*width: 50vw;*/
	
	background-repeat: no-repeat;
}
.reachUsContants
{
	padding: 150 100px;
	font-family: 'Roboto', sans-serif; 

}
.form_
{
	grid-area: form;
	margin: auto 10px;
	padding: 0px 110px; 
	/*width: 50%;*/
}
.gridReachUs
{
	display: grid;
	grid-template-areas: 
	'reachUs form';
}
.dropline
{
	font-family: 'Poppins', sans-serif;
	font-size: 40px;
}

input[type=text] {
  padding: 12px 10px;
  margin: 20px 10px 0px 0px;
  display: inline-block;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid #ced4da;
}
input[type=text]:focus
{
	border-bottom: 1px solid black;
}
.formHalfBox
{
	width: 47%;
}
.formFullBox
{
	width: 96.3%
}

input[type=submit] {
  background-color: black;
  color: white;
  padding: 14px 20px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  /*background-color: #45a049;*/
}









/*-------------------------------------------------------*/

@media (max-width: 1260px) 
{
	.industry_img{
		width: 60%;
		/*height: 105%;*/
	}
	.container
	{
		max-width: 800px;
	}

	.social img
	{
		width: 20px;
	}

	.heading
	{
		font-size: 50px;
		line-height: 60px;
		margin-top: -9%;
	}

	.item1
	{
		min-width: 50px;
	}
	.grid1
	{
		margin-left: 2vw;
	}

	.item3
	{
		padding-right: 20px;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
	}
	.item4
	{
		margin-right: auto;
		margin-left: auto;
	}
	.item4 img
	{
		margin-top: 0px;
		width: 80%;
	}
	.item5
	{
		padding-right: 20px;
		text-align: center;
		margin-right: auto;
		margin-left: auto;
		margin-top: 50px;
	}

	.grid2
	{
		display: grid;
		grid-template-areas:
		'mid' 
		'leftp'
		'rightp';
		/*background-color: #2196F3;*/
	}

	.ltext
	{
		text-align: center;
	}
	.lvideo img
	{
		width: 70vw;
	}
	.lastPortion
	{
		display: grid;
		grid-template-areas: 
		'vdo'
		'texts';
	}

	.flogo
	{
		text-align: center;
	}
	.fcont img
	{
		width: 22px;
	}


	.gridReachUs
	{
		grid-template-areas: 
		'form'
		'reachUs';
	}
	.form_
	{
		padding: 100px;
	}
	.formHalfBox
 	{
    	width: 34vw;
	}
	.formFullBox
 	{
    	width: 69.3vw;
	}

	.reachUs 
	{
    	padding: 100px 110px;
    	background-size: cover; 
	}
	.reachUsContants
	{
		padding: 0px; 
	}

}





/*-------------------------------------------------------*/

@media  (max-device-width: 990px) 
{
    .item4 img {
    margin-top: 0px;
    
    margin-left: -20px;
    padding-bottom: 30px;
    height: 255px;
    width: 335px;
}

	.industry_img {
    width: 60%;
    margin-left: -250px;
	}
	.tabcontent {
	width: 160%;
    padding-top: 30px;
    padding-bottom: 30px;
    display: none;
    padding: 6px 12px;
    border: 1px solid #f7f7f7;
    border-top-color: rgb(247, 247, 247);
    border-top-style: solid;
    border-top-width: 1px;
    border-top: none;
    padding-right: 20px;
    padding-bottom: 50px;
	}
	.industry_finance {

    width: 30%;
    align-content: center;
    left: auto;
    margin-left: -250px;

	}
	.lvideo
	{
	height: 100%;
	grid-area: vdo;
	/*background-color: blue;*/
	text-align: center;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: -40px;
	/*padding-bottom: 30px;*/
	padding-right: 20px;
	background: #FFFFFF 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 20px #00000029;
	}
	.industry_img{
		width: 65%;
		height: 105%;
	}
	.industry_finance{
		width: 30%;
		height: 100px;
	}
	.tabMenu
	{
		display: block;
	}
	.navbar
	{
		display: none;
	}
	.social
	{
		display: none;
	}

	.gridFull
	{
		margin-left: 0px;
		padding-top: 0px;
	}

	.bigText
	{
		font-size: 25px;
		line-height: 30px;
	}

	.homepageHeaderSec
	{
		max-width: 750px;
		margin-left: auto;
		margin-right: auto;
	}

	.item1
	{
		padding: 0px;
	}
	.graph1
	{
		display: none;
	}
	.graph2
	{	
		padding-top: 10px;
		display: block;
		width: 75%;
		padding-bottom: 10px;
	}

	.item2
	{
		
		text-align: center;
		/*margin-left: -35px;*/
		padding: 20px;
	}

	.grid1
	{
		grid-template-areas: 
		'graphics'
		'texts';
		/*background-color: #2196F3;*/
		margin-left: 0vw;
	}

	.item4
	{
		padding: 0px;
	}
.item4 img {
    margin-top: 0px;
    /*width: 100%;*/
    margin-left: -20px;
    padding-bottom: 30px;
    height: 255px;
    width: 335px;
}

	.container
	{
		max-width: 350px;
	}

	.lvideo img 
	{
	    width: 95vw;
	    padding: 0px 0px;
	    margin-top: -60px;
	}



	.fLogo
	{
		padding: 0px 0px;
		margin-top: auto;
		margin-bottom: auto;
	}
	.flogo img
	{
		width: 50%;
		padding-bottom: 60px;
	}

	.fQuick
	{
		display: none;
	}
	.fcont
	{
		/*text-align: center;*/
	}
	.floc
	{
		/*text-align: center;*/
	}
	.none
	{

	}

	.gridFooter
	{
		display: grid;
		grid-template-areas: 
		'logo con loc'
		/*margin-top: 30px;*/

	}

	.button 
	{
	  padding: 10px 20px;
	  font-size: 14px;
	  margin: 4px 2px;
	}

	.gridReachUs
	{
		grid-template-areas: 
		'form';
	}
	.reachUs 
	{
    	display: none;
	}
	.form_
	{
		padding: 100px;
	}
	.formHalfBox
 	{
    	width: 80vw;
	}
	.formFullBox
 	{
    	width: 80vw;
	}

	
	.heading
	{
		font-size: 20px;
		line-height: 50px;
		left: 15px;
		font-size: 17px;
		line-height: 50px;
		left: 25px;
		margin-top: -7%;
	}
	.heading_new
	{
		font-size: 20px;
		line-height: 50px;
		left: 15px;
		font-size: 17px;
		line-height: 50px;
		left: 25px;
		margin-top: -14%;
	}
	.cultureHeader
	{
		padding-top: 20px;
	}
	

}

/*-------------------------------------------------------*/

@media (max-width: 680px) /*667*/
{
	.tabMenu
	{
		display: none;
	}

	.mobileMenu
	{
		display: block;
		height: 60px;
		background-color: black;
	}

	

	.flogo
	{
		display: none;
	}
	.fcont
	{
		margin-left: auto;
		margin-right: auto;
	}
	.floc
	{
		margin-left: auto;
		margin-right: auto;
	}
	.gridFooter
	{
		display: grid;
		grid-template-areas: 
		'con loc';
		/*margin-top: 30px;*/
	}

	.form_
	{
		padding: 50px;
	}

	.cultureHeader
	{
		padding-top: 0px;
		margin-top: -50px;
	}



.dropbtn {
  /*background-color: #3498DB;*/
  /*color: white;*/
  padding: 18px;
  /*font-size: 16px;*/
  border: none;
  cursor: pointer;
}

/*.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}*/

.dropdown {
	right: 0px;
  position: absolute;
  /*display: inline-block;*/
  /*background-color: black;*/
}

.dropdown-content {
  display: none;
  position: absolute;
  right: 0px;
  top: 60px;
  background-color: black;
  width: 100vw;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  padding-bottom: 10px;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown a:hover {background-color: #3b4252;}

.show {display: block;}

.dropdown-content a.active
{
	color: #F7E014;
}

}



/*-------------------------------------------------------*/

@media (max-width: 375px) 
{
	.form_
	{
		padding: 0 10px;
		padding-bottom: 60px;
	}
	.formHalfBox
	{
		width: 100%;
	}
	.formFullBox
	{
		width: 100%
	}
	.reachUs
	{
		padding: 60px;
	}

	.reachUsSocial 
	{
    	height: 15px;
	}


}

@media (min-width: 1260px) 
{

	.ltext {
    grid-area: texts;
   /* background-color: red;*/
    padding: 40px 80px;
    margin-top: auto;
    margin-bottom: auto;
    width: 57%;
    font-size: 25px;
	}

	.lvideo {
    grid-area: vdo;
    /*background-color: blue;*/
    text-align: center;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -40px;
    padding-bottom: 30px;
    padding-right: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 20px #00000029;
    width: 135%;
    margin-left: -250px;
	}

	.bigText {
    font-size: 30px;
    line-height: 50px;
	}

	.industry_img{

		width: 60%;
		padding-bottom: 90px;
		
	
	}
	.industry_finance{
		width: 30%;
		padding-bottom: 90px;
		
	}

	
	.tabcontent {
	/*width: 160%;*/
    padding-top: 30px;
    padding-bottom: 90px;
    display: none;
    padding: 6px 12px;
    border: 1px solid #f7f7f7;
    border-top-color: rgb(247, 247, 247);
    border-top-style: solid;
    border-top-width: 1px;
    border-top: none;
    padding-right: 20px;
    padding-bottom: 50px;
	}
	.lvideo {
		grid-area: vdo;

background-color: blue;

text-align: center;

padding-bottom: 20px;

padding-left: 20px;

padding-right: 20px;

margin-top: -40px;

padding-bottom: 30px;

padding-right: 20px;

background: #FFFFFF 0% 0% no-repeat padding-box;

box-shadow: 0px 3px 20px #00000029;

width: 130%;

margin-left: -240px;
	}
	
}

@media (max-width: 750px) 
{
	
/* Style the tab */
.tab {
  font-family:  Poppins;
  overflow: hidden;
  border: 1px solid #f7f7f7;
  background-color: #f7f7f7;
  font-weight: 400;
  
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 12px;
  font-family:  Poppins;
  font-weight: 400;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #f7f7f7;
  font-weight: bold;
  border-bottom: 3px solid black;
  font-family:  Poppins;
}
}
